@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    @media (max-width:700)
    
}
#image{
    width: 1270px;
    height: 600px;
    filter: opacity(50%);
}
#tel{
    position: absolute;
    top: 50px;
    right: 50px; 
    text-align: center;
    font-size: 20px;
    color:rgb(0, 0, 0);
}
#whatsapp{
    font-family: 'Monteserrat', sans-serif;
    position:absolute;
    width:200px;
    height:30px;
    border:0px solid;
    background-color: rgba(96, 170, 62, 0.993);
    padding:5px;
    top: 105px;
    left:992px;
    color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}
#titulo{
    font-family: 'Monteserrat', sans-serif;
    position: absolute;
    font-size: 40px;
    top: 300px;
    left: 350px;
    color:#FFFFFF;
    text-align: center;
}
#subtitulo{
    font-family: 'Monteserrat', sans-serif;
    position: absolute;
    font-size: 30px;
    top: 450px;
    left: 510px;
    text-align: center;
    color: black;
}
#servicos{
   font-family: 'Montserrat', sans-serif;
   position:relative;
   width:110px;
   height:25px;
   border:0px solid;
   background-color: red;
   padding:10px;
   color:white;
   top:-50px;
   left:120px;
   text-align:center;
}
#orcamento{
   font-family: 'Montserrat', sans-serif;
   position:relative;
   width:280px;
   height:50px;
   border:0px solid;
   background-color: red;
   padding:10px;
   color:white;
   top:-100px;
   left:500px;
   display:flex;
   flex-direction:column;
   justify-content:center;
   text-align:center;
}
#contato{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 110px;
    height: 25px;
    border:0px solid;
    background-color: red;
    padding: 10px;
    color:white;
    top:-165px;
    left: 1020px;
    text-align: center;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight:900;
    margin-top: -15px;
    margin-left: 40px;
    left: 300px;
    color:black;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight:900;
    margin-top: -90px;
    margin-left: 40px; 
    color:black;  
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display:block;
    margin-left: 40px;
    margin-right: 700px;
    color: rgb(0, 0, 0);
    text-align: justify;
}
.imagem{
    position: absolute;
    display:flex;
    left: 650px;
    margin-top: -320px;
}



       



  

